ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    position: fixed;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background: #111;
}
.active {
    background: crimson;
}
/*end of navbar*/
h1 {
    background: #111;
    color: white;
    text-align: center;
}
h2 {
    background: #111;
    color: white;
    text-align: center;
}
h3 {
    background: #111;
    color: white;
    text-align: center;
}

/*end of headers*/

body {
    color: white;
    background: #111;
}


/*end of normal text*/
